body {
}
.question {
}

/* answer section style */
.answers {
  margin-bottom: 5px;
}
.answers label {
  display: block;
}

/* submit button style */
#submit {
  background-color: #279;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* change button background color */
#submit:hover {
  background-color: #38a;
}

/* explanation section style */
.explain {
  margin-bottom: 12px;
  margin-left: 5px;
}

#correct_explain {
  display: none;
  color: lightgreen;
  font-weight: bold;
}

#wrong_explain {
  display: none;
  color: red;
  font-weight: bold;
}

/* image style */
img {
  margin: 5px;
}

.dialog_correct {
    color: green;
    font-size: x-large;
}

.dialog_wrong {
    color: red;
    font-size: x-large;
}